[user]
	name = ChemicalLuck
	email = j.tebbett@outlook.com
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[pull]
	rebase = false
[core]
	autocrlf = false
	eol = lf
	editor = nvim
