[user]
	name = ChemicalLuck
	email = j.tebbett@outlook.com
[init]
	defaultBranch = main
[core]
    autocrlf = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
